body {
  margin: 0px;
  background: #1f2833;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input {
  height: 25px;
  width: 80%;
  margin:auto;
  font-size: medium;
}

input::placeholder{
    font-size: medium;
}

button {
  width: 200px;
  padding: 5px;
  font-size: 20px;
  background: transparent;
  color: white;
  margin: 10px auto;
}

button:hover {
  width: 200px;
  padding: 5px;
  font-size: 20px;
  color: #1f2833;
  background: #66fcf1;
  cursor: pointer;
  margin: 10px auto;
}

div {
  padding: 2px;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 80vh;
}

.col {
  background-color: #66fcf1;
  width: 1px;
  min-height: 1px;
  color:#1f2833;
  /* font-weight: bold; */
}


